.wrapper {
    padding-top: 50px;
    background: linear-gradient(to left bottom, rgb(10, 34, 57, .8), rgb(98, 117, 139, .8)), url('./assets/minneapolis_skyline.jpg');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    box-shadow: -10px 0 8px -8px black, 10px 0 8px -8px black;
  }